// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #2a3086;
$font-stack: Karla, sans-serif;
$theme-color: #61c1f2;
$light-color: #f4f4f4;
$red-color: #f44336;