// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap/scss/bootstrap";

@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "admin-lte/dist/css/adminlte.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-color;
    font-family: $font-stack;
}

.ui-avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
    object-fit: cover;
    max-width: 100%;
    width: 200px;
    height: 200px;
}

.ui-profile-photo {
    border: 1px solid silver;
}

.ui-nationalIdCard {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
  object-fit: cover;
  max-width: 100%;
  width: 350px;
  // height: 200px;
}

.ui-recommendation {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
  object-fit: cover;
  max-width: 100%;
  width: 600px;
}

h2.break-heading {
  text-align: center;
  position: relative;
  margin: 16px 0;
}

h2.break-heading::before {
  content: '';
  display: block;
  border-bottom: 1px solid #d8d8d8;
  position: absolute;
  top: 50%;
  height: 0;
  width: 100%;
  z-index: 0;
}

h2.break-heading span {
  background-color: #fff;
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #121212;
  font-size: 14px;
  padding: 0 7px;
  font-weight: 700;
}
  
.form-label {
  font-size: 1.1em;
}

form h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 36px !important;
}

#profileForm {
  clear: right;
  position: relative;
  top: -80px;
}

.profile-card-header {
text-transform: uppercase;
background-color: var(--lucian_blue);
background-color: #61c1f2;
font-weight: bold;
color: white;
}

.btn-tray-bg {
  // display: inline-block;
  padding: 12px;
  padding: 16px 36px;
  // border-radius: 5px;
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  // background-color: rgba(255, 255, 255, 0.95);
  background-color: #fdeced;
  box-shadow: 0 -0.5rem 1rem rgb(0 0 0 / 5%), inset 0 1px 0 rgb(0 0 0 / 15%);
  // box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  transition: opacity 400ms;
}

.hide-slow {
  opacity: 0;
  transition: opacity 800ms;
}

.page-preloader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(68 197 238 / 89%);
  z-index: 100000;
}

.spinner {
  position: relative;
  top: 35%;
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

#adminName {
  color: #448AFF;
}

#candidateDetailModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3000;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#candidateDetailModal .dialog-wrapper {
  padding: 64px 40px;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-top: 110px;
}

#candidateDetailModal .close-wrapper {
  position: fixed;
  top: 24px;
  right: 60px;
  z-index: 3003;
}

#candidateDetailModal .close-candidate-dialog {
  font-size: 28px;
  // font-weight: bold;
  // color: #fff;
}

.page-arrow {
  z-index: 3001;
  position: fixed;
  top: 0;
  bottom: 0;
  font-size: 48px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-arrow-left {
  left: 30px;
}
.page-arrow-right {
  right: 36px;
}

.dialog-wrapper {
  background-color: #fff;
  margin-right: 76px;
  margin-left: 90px;
  margin-bottom: 61px;
  z-index: 3002;
  min-height: 600px;
}

#candidateDialog table {
  width: 100%;
}
#candidateDialog table td,
#candidateDialog table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#candidateDialog table tr td:first-child:not([colspan="2"]) {
  background-color: #f2f2f2;
  font-weight: 600;
  width: 220px;
}

#candidateDialog table tr td.dark {
  background-color: #f2f2f2;
  font-weight: 600;
}

#previousCandidate,
#nextCandidate {
  cursor: pointer;
}

.disable-arrow {
  opacity: 0.2;
  cursor: default;
}

.hide-overflow {
  overflow: hidden;
}

#allCandidates tr td {
  user-select: none;
}

.highlight {
  background-image: linear-gradient(
180deg
,transparent 60%,#ffca80 0);
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: '\f005';
}

.rating > .half:before {
  content: '\f089';
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
  font-size: 28px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

#smalLoading {
  display: inline-block;
  position: fixed;
  top: 16px;
  right: 24px;
  background-color: #039BE5;
  color: white;
  padding: 5px 12px;
  font-weight: bold;
}